#consoleDiv {
  
   float: right;
   background: black;    
   width: 79%;
 }

 p.clean {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 11;
   margin-bottom: 0;
   margin-top: 0px;
   
}

p.clean2 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 11;
   margin-bottom: 0;
   margin-top: 0px;
   
}

p.clean3 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 11;
   margin-bottom: 3px;
   margin-top: 0px;
   
}


p.console {
   font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
   font-size: 12;
   color: white;
   margin-top: 0;
}

p.consoleOld {
   font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
   font-size: 12;
   color: grey;
   margin-bottom: 0;
}


.button {
   border: 1px solid #1a1a1a;
   background: #666666;
  
   background: -webkit -gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
   background: -webkit-linear-gradient(top, #ffffff, #888888);
   background: -moz-linear-gradient(top, #ffffff, #888888);
   background: -ms-linear-gradient(top, #ffffff, #888888);
   background: -o-linear-gradient(top, #ffffff, #888888);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);
    
   padding: 12.5px 25px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #cccccc 0 1px 0;
   color: #000000;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   outline: none;
   }

.button:hover {
   border: 1px solid #898989;
   text-shadow: #d4d4d4 0 1px 0;
   background: #666666;
   background: -webkit -gradient(linear, left top, left bottom, from(#ffffff), to(#666666));
   background: -webkit-linear-gradient(top, #ffffff, #666666);
   background: -moz-linear-gradient(top, #ffffff, #666666);
   background: -ms-linear-gradient(top, #ffffff, #666666);
   background: -o-linear-gradient(top, #ffffff, #666666);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #666666 100%);
   color: #000000;
   }

.button:active {
   text-shadow: #bfbfbf 0 1px 0;
   border: 1px solid #2e2e2e;

   background: #d9d9d9;
   background: -webkit -gradient(linear, left top, left bottom, from(#595959), to(#616161));
   background: -webkit-linear-gradient(top, #595959, #d9d9d9);
   background: -moz-linear-gradient(top, #595959, #d9d9d9);
   background: -ms-linear-gradient(top, #595959, #d9d9d9);
   background: -o-linear-gradient(top, #595959, #d9d9d9);
   background-image: -ms-linear-gradient(top, #595959 0%, #d9d9d9 100%);

   color: #000000;
   }

.button:disabled{
   opacity: 0.6;
   border: 1px solid #ffffff;
}

.button2 {
   border: 1px solid #1a1a1a;
   background: #666666;
    
   background: -webkit -gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
   background: -webkit-linear-gradient(top, #ffffff, #888888);
   background: -moz-linear-gradient(top, #ffffff, #888888);
   background: -ms-linear-gradient(top, #ffffff, #888888);
   background: -o-linear-gradient(top, #ffffff, #888888);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);
    
   padding: 2px 4px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #cccccc 0 1px 0;
   color: #000000;
   font-size: 11px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   outline: none;
   }

.button2:hover {
   border: 1px solid #898989;
   text-shadow: #d4d4d4 0 1px 0;
   background: #616161;
    
   background: -webkit -gradient(linear, left top, left bottom, from(#f7f7f7), to(#888888));
   background: -webkit-linear-gradient(top, #f7f7f7, #888888);
   background: -moz-linear-gradient(top, #f7f7f7, #888888);
   background: -ms-linear-gradient(top, #f7f7f7, #888888);
   background: -o-linear-gradient(top, #f7f7f7, #888888);
   background-image: -ms-linear-gradient(top, #f7f7f7 0%, #888888 100%);
    
   color: #000000;
   }

.button2:active {
   text-shadow: #bfbfbf 0 1px 0;
   border: 1px solid #2e2e2e;
    
   background: #d9d9d9;
   background: -webkit -gradient(linear, left top, left bottom, from(#595959), to(#616161));
   background: -webkit-linear-gradient(top, #595959, #d9d9d9);
   background: -moz-linear-gradient(top, #595959, #d9d9d9);
   background: -ms-linear-gradient(top, #595959, #d9d9d9);
   background: -o-linear-gradient(top, #595959, #d9d9d9);
   background-image: -ms-linear-gradient(top, #595959 0%, #d9d9d9 100%);
   
   color: #444444;
   }

.button2:disabled {
   opacity: 0.6;
   border: 1px solid #ffffff;
}

body {
 padding: 25px;
 background-color: white;
 color: black;
 font-size: 15px;
}

.dark-mode {
 background-color: black;
 color: white;
}

.p-inline{
   display: inline;
}

#investment {
   height: 150px;
   width: 320px;
   padding: 10px;
   border: 2px solid gray;
   margin: 100;
}

#rightColumn {
   float: right;
   width: 320px;
   margin-left: 100px;    
}

.text-center {
   text-align: center;
}

#content { width: 300px; height: 300px; border: 1px solid black; position: relative; }
.topright { position: absolute; top: 250px; right: 500px; text-align: center; }
.topright2 { position: absolute; top: 250px; right: 50px; text-align: center; }
.bottomright { position: absolute; bottom: 5px; right: 5px; text-align: right; }
.toprightbuttonaxe { position: absolute; top: 500px; right: 500px; text-align: right; }

.ButtonUp {
   border-radius: 0px;
   display: block;
   height: 30px;
   width: 200px;
   background: #c8c8c8;
   border: 1px solid rgba(0, 0, 0, 1);
   outline: none;
   margin-bottom: 6px;
}

.ButtonUp:hover {
   display: block;
   height: 30px;
   width: 200px;
   background: #c8c8c8;
   border: 1px solid rgba(0, 0, 0, 0.25);
}

.ButtonUp:active {
   display: block;
   height: 30px;
   width: 200px;
   background: #d1d1d1;
   border: 1px solid rgba(0, 0, 0, 1);
   
}

.ButtonUp2 {
   border-radius: 0px;
   display: block;
   height: 35px;
   width: 200px;
   background: #c8c8c8;
   border: 1px solid rgba(0, 0, 0, 1);
   outline: none;
   margin-bottom: 6px;
}

.ButtonUp2:hover {
   display: block;
   height: 35px;
   width: 200px;
   background: #c8c8c8;
   border: 1px solid rgba(0, 0, 0, 0.25);
}

.ButtonUp2:active {
   display: block;
   height: 35px;
   width: 200px;
   background: #d1d1d1;
   border: 1px solid rgba(0, 0, 0, 1);
   
}

#box_gamble {
   height: 150px;
   width: 320px;
   padding: 10px;
   border: 2px solid gray;
}

/* #gamble_dice {
   height: 70px;
   width: 50px;
   border: 2px solid gray;
   padding: 50px;
   margin-bottom: 20px;
   margin-right: 280px;
}

#gambletext {
   position: relative;
   
}
